@page "/Account/Manage/RenamePasskey/{Id}"

<EditForm Model="Input" OnValidSubmit="Rename" FormName="rename-passkey" method="post">
    <DataAnnotationsValidator />
    @if (passkey?.Name is { } name)
    {
        <h4>Enter a new name for your "@name" passkey</h4>
    }
    else
    {
        <h4>Enter a name for your passkey</h4>
    }
    <hr />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="form-floating mb-3">
        <InputText @bind-Value="Input.Name" id="Input.Name" class="form-control" aria-required="true"
                   placeholder="My passkey" />
        <label for="Input.Name" class="form-label">Passkey name</label>
        <ValidationMessage For="() => Input.Name" class="text-danger" />
    </div>
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
    </div>
</EditForm>
